@charset "utf-8";
/***** Fonts *****/
h1, h2, h3, h4, h5, h6, p, div { font-family: 'Inconsolata', ; }
/* Colors: 
 * l-grey:	#FAFAFA; NOT USED

 * L-grey:	#E7E8D1; NOT USED
 * Brown:	#D3CEAA; NOT USED
 * Tan: 	#FBF7E4;
 * D-grey:  #424242;
 * Red: 	#8E001C;
 * end code for colors */

/***** Global Styles *****/
body {
	background-color: #FBF7E4;
}
body > .container {
	padding-top: 30px;
}
.jumbotron {
	position: relative;
	top: 0;
	color: white;
	padding-top:	10px;
	padding-bottom:	10px;
	margin-top:		30px;
	border-radius:	0 !important;
	background-color: #424242;
	-webkit-box-shadow: .0625em .3125em .625em #888;
       -moz-box-shadow: .0625em .3125em .625em #888;
    		box-shadow: .0625em .3125em .625em #888;
}

/***** Footer *****/
footer {
	position: relative;
	left:	 0;
	right:	 0;
	height:	 50px;
	padding: 0;
	background-color: #424242;
}
footer p {
	line-height: 50px;
	margin: 0;
	color: white;
}
footer a {
	color: white;
}

/***** Left Content *****/
div.leftContent {
	padding: 10px;
	margin-bottom:10px;
	padding-top: 0;
	border: 3px solid #424242;
	background-color: white;
	-webkit-box-shadow: .0625em .3125em .625em #888;
       -moz-box-shadow: .0625em .3125em .625em #888;
    		box-shadow: .0625em .3125em .625em #888;
}
.leftHeader {
	background-color: #424242;
	margin: 0;
	margin-bottom: 5px;
	margin-left:  -10px;
	margin-right: -10px;
	padding: 2px;
	padding-bottom: 5px;
	color: white;
}
.leftHeader a {
	color: white;
	text-decoration: none;
}
.leftContent ul {
	padding-left:  15px;
	margin-bottom: 0px;
}

/***** Main Content *****/
.mainHeader a {
	color: white;
	text-decoration: none;
}
div.mainContent {
	padding: 10px;
	margin-bottom:10px;
	padding-top: 0;
	border: 3px solid #8E001C;
	background-color: white;
	-webkit-box-shadow: .0625em .3125em .625em #888;
       -moz-box-shadow: .0625em .3125em .625em #888;
    		box-shadow: .0625em .3125em .625em #888;
}
.mainHeader {
	background-color: #8E001C;
	margin: 0;
	margin-bottom: 5px;
	margin-left:  -10px;
	margin-right: -10px;
	padding: 2px;
	padding-bottom: 5px;
	color: white;
}
.emph {
	font-size: 18px; 
}

/***** Images *****/
img.resp {
	width:		100%;
	display:	block;
	margin:		auto;
}
figcaption {
	text-align: center;
	font-style: italic;
	margin-bottom: 10px;
}
#groupright { max-width: 572px; }
#timecard { max-width: 572px; }
#scheduler { max-width: 494px; }
#hqa { max-width: 300px; }
#michelle {	max-width: 526px; }
#kidzkamp {	max-width: 535px; }
#aboutme { max-width: 308px; }
#mapquiz { max-width: 458px; }
#main_photo { max-width: 365px; }
#miranda { max-width: 764px; }
img#stackOverflow {	max-width:208px; }
img.corp_logo {
	float: right;
	max-width: 150px;
	padding-top: .625em;
	margin-left: .625em;
}
img.site {
	width:	 100%;
	display: block;
	margin:	 auto;
	margin-bottom: 10px;
	-webkit-box-shadow: .0625em .3125em .625em #888;
       -moz-box-shadow: .0625em .3125em .625em #888;
    		box-shadow: .0625em .3125em .625em #888;
}

/***** Misc *****/
.form-group {
	margin: 0;
}
.list-group {
	margin-bottom: 0;
}
/* Idea taken from http://jsfiddle.net/HQS8s/ */
.stick {
    position: fixed;
    top:	80px;
    right: 	0px;
}/* End idea */
.handc {
	cursor: pointer;
	cursor: hand;
}

/***** Navigation *****/
nav > div.container > .pull-right {
	padding-right: 0;
	padding-left:  0;
}

/* Generated by TWBSColor: http://work.smarchal.com/twbscolor/css/ */
.navbar-default {
  background-color: #8E001C;
  border-color: #424242;
}
.navbar-default .navbar-brand {
  color: #FFFFFF;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #FFFFFF;
}
.navbar-default .navbar-text {
  color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #FFFFFF;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #f20544;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #FFFFFF;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #FFFFFF;
  background-color: #424242;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #f20544;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #FFFFFF;
  background-color: #424242;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #FFFFFF;
  background-color: #424242;
}
.navbar-default .navbar-toggle {
  border-color: #424242;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #424242;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #FFFFFF;
}
.navbar-default .navbar-link {
  color: #FFFFFF;
}
.navbar-default .navbar-link:hover {
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFFFFF;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #FFFFFF;
    background-color: #424242;
  }
}

/***** Animation Definitions *****/
/* rotate and fall */
@-webkit-keyframes rotateFall {
	0%	 { -webkit-transform: rotateZ(0deg); }
	20%  { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
	40%  { -webkit-transform: rotateZ(17deg); }
	60%  { -webkit-transform: rotateZ(16deg); }
	100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@-moz-keyframes rotateFall {
	0% 	 { -moz-transform: rotateZ(0deg); }
	20%  { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
	40%  { -moz-transform: rotateZ(17deg); }
	60%  { -moz-transform: rotateZ(16deg); }
	100% { -moz-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
	0% 	 { transform: rotateZ(0deg); }
	20%  { transform: rotateZ(10deg); animation-timing-function: ease-out; }
	40%  { transform: rotateZ(17deg); }
	60%  { transform: rotateZ(16deg); }
	100% { transform: translateY(100%) rotateZ(17deg); }
}
/* scale up */
@keyframes scaleUp {
	from 	{ opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
	from 	{ opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
	from 	{ opacity: 0.3; -webkit-transform: scale(0.8); }
}
/* slide in from the right */
@keyframes slideInRight {
	from	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(100%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(100%); }
	to 		{ -webkit-transform: translateX(0); }
}
/* slide in from the bottom */
@keyframes slideInUp {
	from 	{ transform:translateY(100%); }
	to 		{ transform: translateY(0); }
}
@-moz-keyframes slideInUp {
	from 	{ -moz-transform:translateY(100%); }
	to 		{ -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
	from 	{ -webkit-transform:translateY(100%); }
	to 		{ -webkit-transform: translateY(0); }
}
/* slide in from the bottom */
@keyframes slideOutLeft {
	to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {	
	to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-100%); }
}
/* rotate out newspaper */
@-webkit-keyframes rotateOutNewspaper {
	to 		{ -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@-moz-keyframes rotateOutNewspaper {
	to 		{ -moz-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@keyframes rotateOutNewspaper {
	to 		{ transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/***** Animation *****/
/*.ng-enter {
	animation: slideInUp 0.4s both ease-in;
	z-index: 8888;
}*/
.ng-leave {
	animation: slideOutLeft 0.4s both ease-in;
	z-index: 9999;
}