@charset "utf-8";
/* CSS Document */

/* code for fonts */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
}
p, div {
    font-family: 'Open Sans';
}
/* end code for fonts */

/* code for colors
 * red: F20544
 * black: 222426
 * blue: 145E8C
 * white: F2F2F2
 * orange: F25C05
 * end code for colors */

.jumbotron {
	position: relative;
	top: 0;
	background-color: #145E8C;
	color: white;
	border-radius: 0 !important;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 30px;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}

.leftContent ul {
	padding-left: 15px;
	margin-bottom: 0px;
}

footer {
	position: relative;
	left: 0;
	right: 0;
	height: 50px;
	background-color: #222426;
	padding: 0;
}

footer p {
	line-height: 50px;
	margin: 0;
	color: white;
}

footer a {
	color: white;
}

body > .container {
	padding-top: 30px;
}

div.leftContent {
	border: 3px solid #145E8C;
	padding: 10px;
	margin-bottom:10px;
	padding-top: 0;
}
.leftHeader {
	background-color: #145E8C;
	margin: 0;
	margin-bottom:5px;
	margin-left: -10px;
	margin-right: -10px;
	padding: 2px;
	padding-bottom: 5px;
	color: white;
}

.leftHeader a {
	color: white;
	text-decoration: none;
}

.mainHeader a {
	color: white;
	text-decoration: none;
}

div.mainContent {
	border: 3px solid #F25C05;
	padding: 10px;
	margin-bottom:10px;
	padding-top: 0;
}

.mainHeader {
	background-color: #F25C05;
	margin: 0;
	margin-bottom:5px;
	margin-left: -10px;
	margin-right: -10px;
	padding: 2px;
	padding-bottom: 5px;
	color: white;
}

img.banner-img {
	width: 100%;
	max-width: 850px;
	display: block;
	margin: auto;
	margin-bottom: 15px;
}

.form-group {
	margin: 0;
}

.searchButton {
	margin-top: 10px;
	padding: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.trumbaCalendar {
	vertical-align: top;
	background-color: #FFF;
}

.list-group {
	margin-bottom: 0;
}

.alert-danger {
	margin-bottom: 15px !important;
	border-radius: 0 !important;
}

nav > div.container > .pull-right {
	padding-right: 0;
	padding-left: 0;
}

/* Photo Styles */

/* End Photo Styles */
#groupright {
	max-width: 572px;
}

#scheduler {
	max-width: 494px;
}

#hqa {
	max-width: 300px;
}

#michelle {
	max-width: 526px;
}

#kidzkamp {
	max-width: 535px;
}

#aboutme {
	max-width: 308px;
}

#mapquiz {
	max-width: 458px;
}

#main_photo {
	width: 100%;
	max-width: 541px;
	display: block;
	margin: auto;
}

#miranda {
	width: 100%;
	max-width: 764px;
	display: block;
	margin: auto;
}

img.corp_logo {
	float: right;
	max-width: 150px;
	padding-top: .625em;
	margin-left: .625em;
}

img.site {
	width:100%;
	display:block;
	margin:auto;
	cursor:pointer;
	cursor:hand;
	margin-bottom:10px;
	-moz-box-shadow: .0625em .3125em .625em #888;
	-webkit-box-shadow: .0625em .3125em .625em #888;
	box-shadow: .0625em .3125em .625em #888;
}

figcaption {
	text-align: center;
	color: #999;
	font-style: italic;
}

img#stackOverflow {
	max-width: 208px;
	width: 100%;
	display: block;
	margin: auto;
}

/* Idea taken from http://jsfiddle.net/HQS8s/ */
.stick {
    position: fixed;
    top: 80px;
    right: 0px;
}
/* End idea */

/* Navbar styles
 * Generated by TWBSColor
 * My Link:
 * http://work.smarchal.com/twbscolor/css/f20544222426f2f2f2f2f2f21
 */
.navbar-default {
  background-color: #f20544;
  border-color: #222426;
}
.navbar-default .navbar-brand {
  color: #f2f2f2;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #f2f2f2;
}
.navbar-default .navbar-text {
  color: #f2f2f2;
}
.navbar-default .navbar-nav > li > a {
  color: #f2f2f2;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #f2f2f2;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #f20544;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #f2f2f2;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #f2f2f2;
  background-color: #222426;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #f20544;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #f2f2f2;
  background-color: #222426;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #f2f2f2;
  background-color: #222426;
}
.navbar-default .navbar-toggle {
  border-color: #222426;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #222426;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f2f2f2;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f2f2f2;
}
.navbar-default .navbar-link {
  color: #f2f2f2;
}
.navbar-default .navbar-link:hover {
  color: #f2f2f2;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f2f2f2;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f2f2f2;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f2f2f2;
    background-color: #222426;
  }
}
/* End of Search Bar Styles */
