<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--
         ___ ___                       _____
        /  //  /                    __/ /_ /
       /  //  /___  ____  ____  ___/_  __//__
      /     _/ __ \/ __ \/ __ \/ _ \/ /  __  \
     /  /\  \  ___/ / / / / / / ___/ /  / /  /
    /__/  \__\___/_/ /_/_/ /_/\___/_/__/ /__/
         ______
        /  __  \ __      __
       /  /_/  //_/_____/ /__  ______
      /  ___  </ / __  / / _ \/  ___/
     /  /__/  / / /_/ / / ___/  /
    /________/_/\__  /_/\___/__/
               /____/
    -->
    <!-- Favicon -->
    <link rel="icon" href="assets/img/favicon.png" />
    <!-- Device Compatibility -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Keywords for SEO, feel free to ignore this, it's an Intranet -->
    <meta name="keywords" content="Ken, Kenneth, Bigler, Kenneth Bigler, Ken Bigler, Resume, HTML, CSS, JavaScript, C++, C, Software Developer, Web, Web Developer, Web Technologist, Santa Clara, SCU, scu, Santa Clara University, Software Engineer, Engineering, Software Engineering, Software Development">
    <meta name="description" content="This is a site about Kenneth Bigler, Student at Santa Clara University, including his work, interests, and resume">
    <meta name="author" content="Kenneth Bigler">
    <title>Kenneth Bigler Resume Software Engineering</title>
    <!-- Bootstrap CSS 3 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"  type='text/css' />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <!-- Custom Style Sheet -->
    <link rel="stylesheet" href="assets/css/mystyles.css" type='text/css'>
    <!-- Includes -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.10/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.10/angular-route.min.js"></script>
    <script type="text/javascript" src="app/app.modules.js"></script>
    <script type="text/javascript" src="app/app.routes.js"></script>
    <script type="text/javascript" src="app/controllers/HomeController.js"></script>
    <script type="text/javascript" src="app/directives/lhs.js"></script>
    <script type="text/javascript" src="app/directives/VisualizationDirective.js"></script>
    <script type="text/javascript" src="assets/js/analytics.js"></script>
    <!--<script type="text/javascript" src="assets/js/includes.js"></script>-->
</head>
<!-- Body -->
<body ng-app="myApp" ng-controller="HomeController">
    <div class="container">
    <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container emph">
                <a class="navbar-brand" ng-class="getClass('/')" href="#/">Kenneth Bigler</a>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Items -->
                <div id="navbar" class="collapse navbar-collapse col-sm-3">
                    <ul class="nav navbar-nav">
                        <li ng-class="getClass('/')"><a href="#/" ng-click="closeNav()">Home</a></li>
                        <li ng-class="getClass('/work')"><a href="#/work" ng-click="closeNav()">Work</a></li>
                        <li ng-class="getClass('/classes')"><a href="#/classes" ng-click="closeNav()">Classes</a></li>
                        <li ng-class="getClass('/activities')"><a href="#/activities" ng-click="closeNav()">Activities</a></li>
                        <li ng-class="getClass('/projects')"><a href="#/projects" ng-click="closeNav()">Projects</a></li>
                    </ul>
                </div><!-- /Items -->
            </div>
        </nav>
        <!-- Main Content loaded via Angular -->
        <div ng-view></div>
    </div><!-- /container -->
    <!-- Closing -->
</body>
<div ng-if="false">
    <h1>Loading the application, please hold on...</h1>
</div>
</html>