<!-- Main Content -->
<div class="col-md-10 col-sm-9">
    <!-- Begin About Section -->
	<div class="mainContent">
    	<h3 class="mainHeader">About Me</h3>
       	<figure class="banner">
        	<img id="main_photo" class="resp handc" src="images/ken.jpg" alt="This is a photo of Kenneth Bigler" onclick="window.open('https://www.linkedin.com/in/kennethbigler', '_blank');" />
        </figure>
        <h2 align="center">Hello! Welcome to my Resum&eacute; Website</h2>
        <h3 align="center">Purchasing Web Developer at Tesla Motors</h3>
        <h3 align="center">Computer Science and Engineering Senior at Santa Clara University</h3>
        <p>
            <b>Location:</b> Los Altos, California<br />
            <b>Interests:</b> Computer Software<br />
            <b>Current Employment:</b> Tesla Motors<br />
            <b>Volunteer Work:</b> Second Harvest Food Bank
        </p>
    <!-- / End About Section -->
    </div>
    <!-- Begin Education Section -->
	<div class="mainContent">
    	<h3 class="mainHeader">Education</h3>
        <p><b>Santa Clara University,</b> Santa Clara, CA<br />
        Bachelor of Science in Computer Science and Engineering with a Mathematics Minor, June 2015<br />
        Master of Science in Computer Engineering with an Emphasis in Software Engineering, June 2016<br />
        Dean’s List, September 2012 – Present<br />
        GPA: 3.697<br /></p>
        <p><b>Stanford University,</b> Stanford, CA<br />
        High School Summer College, June-Aug. 2010<br />
        GPA: 3.812</p>
    </div>
	<div class="mainContent">
    	<h3 class="mainHeader">Summary of Skills</h3>
        <ul>
            <li>Designing, building, and overseeing production of large and small Internet and Intranet sites</li>
            <li>Developing a schedule for web projects, creating web standards, prioritizing goals, documenting procedures</li>
            <li>Gathering information to make useful websites and creating web art from scratch</li>
            <li>Manage international team members, strong communication skills, team player, and detail-oriented</li>
        </ul>
        <p><b>Computer:</b> Android, Java, C, C++, AngularJS, HTML5, CSS3, JavaScript, jQuery, PHP, AJAX, UNIX, Linux, json, XML, Joomla, WordPress, Adobe CS (Dreamweaver, Photoshop, Illustrator, Fireworks, InDesign), ServiceNow, Microsoft Office</p>
    </div>
<!-- /Main Content Side -->
</div>