<div class="col-md-10 col-sm-9">
    <!-- About -->
	<div class="mainContent shadow">
        <h3 class="mainHeader">About Me</h3>
        <div class="row">
            <div class="col-md-6">
                <figure class="banner">
                    <img id="main_photo" class="resp handc" src="images/ken.jpg" alt="This is a photo of Kenneth Bigler" onclick="window.open('https://www.linkedin.com/in/kennethbigler', '_blank');" />
                </figure>
            </div>
            <div class="col-md-6">
                <h2 align="center">Purchasing Web Developer at Tesla Motors</h2>
                <h2 align="center">Computer Science and Engineering Master's Student at Santa Clara University</h2>
                <br />
                <h4>
                    <b>Location:</b> Mountain View, California<br />
                    <b>Interests:</b> Computer Software<br />
                    <b>Current Employment:</b> Tesla Motors<br />
                    <b>Volunteer Work:</b> Second Harvest Food Bank
                </h4>
            </div>
        </div>
    </div><!-- /About -->
    <!-- Summary -->
    <div class="mainContent shadow">
        <h3 class="mainHeader">Summary of Skills</h3>
        <ul class="emph">
            <li>Designing, building, and overseeing production of large and small Internet and Intranet sites</li>
            <li>Developing a schedule for web projects, creating web standards, prioritizing goals, documenting procedures</li>
            <li>Gathering information to make useful websites and creating web art from scratch</li>
            <li>Manage international team members, strong communication skills, team player, and detail-oriented</li>
        </ul>
        <h4><b>Computer:</b> Android, Java, C, C++, AngularJS, HTML5, CSS3, JavaScript, jQuery, PHP, AJAX, UNIX, Linux, json, XML, Joomla, WordPress, Adobe CS (Dreamweaver, Photoshop, Illustrator, Fireworks, InDesign), ServiceNow, Microsoft Office</h4>
    </div><!-- /Summary -->
    <!-- Education -->
	<div class="mainContent shadow">
    	<h3 class="mainHeader">Education</h3>
        <h4><b>Santa Clara University,</b> Santa Clara, CA<br />
        Bachelor of Science in Computer Science and Engineering with a Mathematics Minor, June&nbsp;2015<br />
        Master of Science in Computer Engineering with an Emphasis in Software Engineering, June&nbsp;2016<br />
        Dean’s List, September&nbsp;2012 – Present<br />
        GPA:&nbsp;3.697<br /></h4>
        <h4><b>Stanford University,</b> Stanford, CA<br />
        High School Summer College, June-Aug.&nbsp;2010<br />
        GPA:&nbsp;3.812</h4>
    </div><!-- /Education -->
</div>