<!-- Main Content -->
<div class="col-md-10 col-sm-9">
    <!-- Begin Education Section -->
    <div class="mainContent">
        <h3 class="mainHeader">Graduate Courses</h3>
        <div class="row">
            <div class="col-sm-6">
                <h2>Year 2</h2>
                <h4>Fall Quarter</h4>
                <ul>
                    <li>Truth, Deduction &amp; Computation</li>
                    <li>Database Systems</li>
                </ul>
                <h4>Winter Quarter</h4>
                <ul>
                    <li>Formal Methods in Software Engineering (Projected)</li>
                </ul>
                <h4>Spring Quarter</h4>
                <ul>
                    <li>Computer Forensics (Projected)</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h2>Year 1 (Senior Year)</h2>
                <h4>Fall Quarter</h4>
                <ul>
                    <li>Web Search &amp; Info Retrieval</li>
                    <li>Software Ethics</li>
                </ul>
                <h4>Winter Quarter</h4>
                <ul>
                    <li>Software Development Process Management</li>
                    <li>Object Oriented Analysis and Design Programming</li>
                    <li>Software Quality Assurance and Testing</li>
                </ul>
                <h4>Spring Quarter</h4>
                <ul>
                    <li>Software Architecture</li>
                    <li>Web Programming II</li>
                </ul>
            </div>
        </div>
    </div><!-- /Education Section -->
    <!-- Begin Education Section -->
	<div class="mainContent">
    	<h3 class="mainHeader">Courses</h3>
        <div class="row">
            <!-- Year Section -->
        	<div class="col-sm-6">
                <h2>Senior Year</h2>
                <h4>Fall Quarter</h4>
                <ul>
                    <li>Grad Classes</li>
                    <li>Software Engineering</li>
                    <li>Design Project I</li>
                    <li>Applied Engineering Communications I</li>
                    <li>Theology of Marriage</li>
                </ul>
                <h4>Winter Quarter</h4>
                <ul>
                    <li>Grad Classes</li>
                    <li>Formal Language Theory and Compiler Construction</li>
                    <li>Design Project II</li>
                    <li>Applied Engineering Communications II</li>
                </ul>
                <h4>Spring Quarter</h4>
                <ul>
                    <li>Grad Classes</li>
                    <li>Computer Architecture</li>
                    <li>Design Project III</li>
                    <li>Applied Engineering Communications III</li>
                </ul>
            </div><!-- /Year Section -->
            <!-- Year Section -->
        	<div class="col-sm-6">
                <h2>Junior Year</h2>
                <h4>Fall Quarter</h4>
                <ul>
                    <li>Web Programming I</li>
                    <li>Operating Systems</li>
                    <li>Advanced Linear Algebra</li>
                    <li>Religion in America</li>
                </ul>
                <h4>Winter Quarter</h4>
                <ul>
                    <li>Mobile Application Development (Android)</li>
                    <li>Computer Networks</li>
                    <li>Prin Des &amp; Impl Prog Lang</li>
                    <li>Human Services</li>
                </ul>
                <h4>Spring Quarter</h4>
                <ul>
                    <li>Intro: 3D Animation &amp; Modeling</li>
                    <li>Theory of Algorithms</li>
                    <li>Digital Integrated Circuit Design</li>
                    <li>Combinatorics</li>
                </ul>
            </div>
        </div>
        <hr />
        <div class="row">
            <!-- Year Section -->
        	<div class="col-sm-6">
                <h2>Sophomore Year</h2>
                <h4>Fall Quarter</h4>
                <ul>
                    <li>Introduction to Logic Design</li>
                    <li>Physics for Scientists and Engineers III</li>
                    <li>Ways of Understanding Religion</li>
                    <li>Global Music/Cultural Politics (Cultures and Ideas I)</li>
                </ul>
                <h4>Winter Quarter</h4>
                <ul>
                    <li>Form Specification &amp; Advanced Data Structures</li>
                    <li>Linear Algebra</li>
                    <li>Pop Music, Race, &amp; American Culture</li>
                    <li>Global Music/Cultural Politics (Cultures and Ideas II)</li>
                </ul>
                <h4>Spring Quarter</h4>
                <ul>
                    <li>Intro to Embedded Systems</li>
                    <li>Electric Circuits I</li>
                    <li>Ethics in Technology</li>
                    <li>Intro to Comparative Politics</li>
                </ul>
            </div><!-- /Year Section -->
            <!-- Year Section -->
        	<div class="col-sm-6">
                <h2>Freshman Year</h2>
                <h4>Fall Quarter</h4>
                <ul>
                    <li>Introduction to Programming</li>
                    <li>Intro to Engineering</li>
                    <li>Calculus &amp; Analytic Geometry IV</li>
                    <li>General Chemistry I</li>
                    <li>Cosmology &amp; Controversy (Critical Thinking &amp; Writing I)</li>
                </ul>
                <h4>Winter Quarter</h4>
                <ul>
                    <li>Advanced Programming</li>
                    <li>Differential Equations</li>
                    <li>Physics for Scientists and Engineers I</li>
                    <li>Cosmology &amp; Controversy (Critical Thinking &amp; Writing II)</li>
                </ul>
                <h4>Spring Quarter</h4>
                <ul>
                    <li>Abstract Data Types &amp; Data Structures</li>
                    <li>Discrete Mathematics</li>
                    <li>Probability &amp; Statistics</li>
                    <li>Physics for Scientists and Engineers II</li>
                </ul>
            </div><!-- /Year Section -->
        </div>
    </div><!-- /Education Section -->
</div><!-- /Main Content -->