<!-- Main Content -->
<div class="col-md-10 col-sm-9">
    <!-- Begin Senior Design Section -->
	<div class="mainContent">
    	<h3 class="mainHeader">Senior Design Project</h3>
        <figure>
            <img class="site" id="groupright" src="images/groupright.png" alt="GroupRight photo" onclick="window.open('http://www.groupright.net/', '_blank');" />
            <figcaption>This is my Senior Year project, done with Zachery Wilson and Scott Sarsfield</figcaption>
        </figure>
    </div>
    <!-- Begin School Section -->
    <div class="mainContent">
        <h3 class="mainHeader">Class Projects</h3>
        <div class="row">
            <div class="col-sm-6">
                <figure>
                    <img class="site" id="scheduler" src="images/scheduler.png" alt="a first year scheduler for incoming freshman into Santa Clara University" onclick="window.open('http://students.engr.scu.edu/~kbigler/scheduler/', '_blank');" />
                    <figcaption>This is my final project for Software Engineering, done with Jason Dougherty, Ashley Sehatti, and Stan Whitcomb</figcaption>
                </figure>
            </div>
            <div class="col-sm-6">
                <figure>
                    <img class="site" id="kidzkamp" src="images/kidzkamp.png" alt="Kidz Kamp Santa Clara" onclick="window.open('http://students.engr.scu.edu/~kbigler/campsite/home.php', '_blank');" />
                    <figcaption>This is my final project for Web Programming I, done with Zachery Wilson</figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <figure>
                    <img class="site" id="aboutme" src="images/aboutme.png" alt="About Me Site" onclick="window.open('http://students.engr.scu.edu/~kbigler/aboutme/', '_blank');" />
                    <figcaption>This is my first project for Web Programming I, all "About Me"</figcaption>
                </figure>
            </div>
            <div class="col-sm-6">
                <figure>
                    <img class="site" id="mapquiz" src="images/mapquiz.png" alt="My Map Quiz Site" onclick="window.open('http://students.engr.scu.edu/~kbigler/mapquiz/', '_blank');" />
                    <figcaption>This is my second project for Web Programming I, with the goal to create a Map Quiz</figcaption>
                </figure>
            </div>
        </div>
    </div>
    <!-- Begin Fun Section -->
    <div class="mainContent">
        <h3 class="mainHeader">Fun Projects</h3>
        <div class="row">
            <div class="col-sm-6">
                <figure>
                    <img class="site" id="michelle" src="images/michelle.png" alt="A website for my friend Michelle" onclick="window.open('http://students.engr.scu.edu/~kbigler/michelle/', '_blank');" />
                    <figcaption>This is a project for my friend, I wanted to play with layouts so I did this in an hour</figcaption>
                </figure>
            </div>
            <div class="col-sm-6">
                <figure>
                    <img class="site" id="hqa" src="images/hqa.png" alt="A website for my friend Ryan to help the homeless" onclick="window.open('http://students.engr.scu.edu/~kbigler/homelessQuickAssist/', '_blank');" />
                    <figcaption>This is a project to help the homeless for a friend's class presentation done in 2 hours and meant only for mobile devices</figcaption>
                </figure>
            </div>
        </div>
    </div>
    
<!-- /Main Content -->
</div>