<div class="col-md-10 col-sm-9">
	<h1 align="center">Work Experience</h1>
    <hr />
    <!-- Tesla -->
	<div class="mainContent shadow" style="min-height:228px;">
    	<h3 class="mainHeader">Tesla Motors, Fremont, CA</h3>
        <img class="corp_logo" src="images/tesla_motors_logo.svg.png" alt="Tesla Logo"/>
        <h3>Capital Equipment Purchasing Web Developer Intern</h3>
        <p>June 2015 – Present (4 months)</p>
        <ul>
            <li>Redesign the intranet pages to improve accessability and incorporate responsive design</li>
            <li>Develop a tool to help engineers find and review vendors previously used by Tesla Motors, Inc.</li>
        </ul>
    </div>
    <!-- NetApp -->
	<div class="mainContent shadow">
    	<h3 class="mainHeader">NetApp, Sunnyvale, CA</h3>
        <img class="corp_logo" src="images/netapp_logo.svg.png" alt="NetApp Logo"/>
        <h3>Web Technologist</h3>
        <p>December 2012 – June 2015 (2.5 years)</p>
        <ul>
            <li>Develop web-based applications to enable various processes, as well as train users</li>
            <li>Communicate status of projects with upper management and how to resolve roadblocks</li>
            <li>Support HR Intranet using Joomla and WordPress; update code, graphics and perform web project management</li>
            <li>Design and create new websites, migrate between CMS’s, as well as maintain and improve existing websites</li>
            <li>Create/update graphics using Adobe CS, resolve technical issues, educate department content owners on their choices</li>
            <li>Set up and manage permissions on SharePoint for HR group of 75 people</li>
        </ul>
        <h3>Human Resources Information Technology and Services Representative</h3>
        <p>August 2012 – September 2012 (2 months)</p>
        <ul>
            <li>Prepared layout for Pre-Boarding Portal (new hires access company info and forms)</li>
            <li>Analyzed best protection of emails and implemented Rights Management Services (RMS)</li>
            <li>Created a presentation for RMS to deliver to upper management</li>
            <li>Designed instructional presentations for new tools (EchoSign and RMS)</li>
            <li>Developed a site map for the HR website</li>
        </ul> 
    </div>
    <!-- Vengeful -->
    <div class="mainContent shadow">
    	<h3 class="mainHeader">VengefulGames, LLC</h3>
        <img class="corp_logo" src="images/vengefulgames_logo.png" alt="VengefulGames Logo"/>
        <h3>Game Developer</h3>
        <p>August 2014 – Present (1 year)</p>
        <ul>
            <li>Manage team of 3 other developers and the process flow of the work</li>
            <li>PHP game development and optimization, UI enhancements, and improving overall game performance</li>
            <li>Brainstorm with CEO and upper-level management about the direction of the company and future product ideas</li>
            <li>Improve the look, feel, and overall experience of the game to make it easier to play and understand for users</li>
        </ul>
    </div>
	<!-- Second Harvest -->
    <hr />
    <h1 align="center">Volunteer Experience</h1>
    <hr />
    <div class="mainContent shadow">
        <h3 class="mainHeader">Second Harvest Food Bank</h3>
        <img class="corp_logo" src="images/SHFB_logo.jpg" alt="Second Harvest Food Bank Logo"/>
        <h3>Second Harvest Food Bank Team Leader</h3>
        <p>September 2010 – Present (5 years)</p>
        <ul>
            <li>Instruct and supervise between 10 and 40 volunteers regarding food sorting, packaging and distribution</li>
            <li>Food is then distributed to smaller organizations that help the homeless and disadvantaged</li>
        </ul>
    </div>  
</div>