@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
h1, h2, h3, h4, h5, h6, p, div {
  font-family: 'Josefin Sans', sans-serif; }

.leftContent, .mainContent, .site {
  -webkit-box-shadow: 0.0625em 0.3125em 0.625em #888;
  -moz-box-shadow: 0.0625em 0.3125em 0.625em #888;
  box-shadow: 0.0625em 0.3125em 0.625em #888; }

.leftContent, .mainContent {
  margin-bottom: 10px;
  padding: 10px;
  padding-top: 0;
  background-color: white; }

.leftHeader, .mainHeader {
  margin-top: 0;
  margin-right: -10px;
  margin-bottom: 5px;
  margin-left: -10px;
  padding: 2px;
  padding-bottom: 5px;
  color: white; }
  .leftHeader > a, .mainHeader > a {
    color: white;
    text-decoration: none; }

body {
  background-color: #fbf7e4; }
  body > .container {
    padding-top: 70px; }

.form-group {
  margin: 0; }

.list-group {
  margin-bottom: 0; }

.handc {
  cursor: pointer;
  cursor: hand; }

.leftContent {
  border: 3px solid #424242; }

.leftHeader {
  background-color: #424242; }
  .leftHeader > ul {
    padding-left: 15px;
    margin-bottom: 0px; }

.mainContent {
  border: 3px solid #8e001c;
  min-height: 228px;
  font-size: 16px; }

.mainHeader {
  background-color: #8e001c; }

.emph {
  font-size: 18px; }

figcaption {
  text-align: center;
  font-style: italic;
  margin-bottom: 10px; }

.resp {
  width: 100%;
  display: block;
  margin: auto; }

.corp_logo {
  float: right;
  max-width: 150px;
  padding-top: .625em;
  margin-left: .625em; }

.site {
  max-width: 572px;
  margin-bottom: 10px; }

#main_photo {
  max-width: 300px; }

#miranda {
  max-width: 500px; }

#stackOverflow {
  max-width: 208px; }

.chart {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 15px;
  position: relative; }
  .chart .y {
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    bottom: 0;
    padding: 5px;
    text-align: center; }
  .chart .x {
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 5px;
    text-align: center; }

svg {
  position: absolute;
  transform: rotateX(180deg);
  left: 0; }
  svg > line {
    stroke-width: 3px; }

.stick {
  position: fixed;
  top: 80px;
  right: 0px; }

.navbar-default {
  background-color: #8e001c;
  border-color: #424242; }
  .navbar-default .navbar-brand {
    color: #ffffff; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #ffffff; }
  .navbar-default .navbar-text {
    color: #ffffff; }
  .navbar-default .navbar-nav > li > a {
    color: #ffffff; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #ffffff; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #424242; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #424242; }
  .navbar-default .navbar-toggle {
    border-color: #424242; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #424242; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #ffffff; }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #ffffff; }
  .navbar-default .navbar-link {
    color: #ffffff; }
    .navbar-default .navbar-link:hover {
      color: #ffffff; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ffffff; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #424242; } }

/*# sourceMappingURL=main.css.map */
