// google font
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

// variables
$bgDefault      : #8e001c;
$bgHighlight    : #424242;
$colDefault     : #ffffff;
$colHighlight   : #ffffff;
$bgcolor        : #fbf7e4;
$shadow         : .0625em .3125em .625em #888;
$dropDown       : false;
/* Colors: 
 * l-grey:	#FAFAFA; NOT USED
 * L-grey:	#E7E8D1; NOT USED
 * Brown:	#D3CEAA; NOT USED */

// Margin longhand version
@mixin margin-all($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

@mixin shadow {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

/***** Fonts *****/
h1, h2, h3, h4, h5, h6, p, div { font-family: 'Josefin Sans', sans-serif; }

/***** Global Styles *****/
body {
	background-color: $bgcolor;
    > .container {
        padding-top: 70px;
    }
}

/***** Left Content *****/
.leftContent {
	padding: 10px;
	margin-bottom:10px;
	padding-top: 0;
	border: 3px solid $bgHighlight;
	background-color: white;
    @include shadow
}
.leftHeader {
	background-color: $bgHighlight;
	@include margin-all(0, -10px, 5px, -10px);
	padding: 2px;
	padding-bottom: 5px;
	color: white;
    > a {
        color: white;
	    text-decoration: none;
    }
    > ul {
        padding-left:  15px;
        margin-bottom: 0px;
    }
}

/***** Main Content *****/
.mainContent {
	padding: 10px;
	margin-bottom:10px;
	padding-top: 0;
	border: 3px solid $bgDefault;
    min-height:228px;
	background-color: white;
    font-size: 16px;
    @include shadow
}
.mainHeader {
	background-color: $bgDefault;
	@include margin-all(0, -10px, 5px, -10px);
	padding: 2px;
	padding-bottom: 5px;
	color: white;
    > a {
        color: white;
        text-decoration: none;
    }
}
.emph {
	font-size: 18px; 
}

/***** Images *****/
figcaption {
	text-align: center;
	font-style: italic;
	margin-bottom: 10px;
}
.resp {
    width:	 100%;
    display: block;
    margin:	 auto;
}
.corp_logo {
    float:       right;
    max-width:   150px;
    padding-top: .625em;
    margin-left: .625em;
}
.site {
    max-width: 572px;
    margin-bottom: 10px;
    @include shadow;
}
#main_photo { max-width: 300px; }
#miranda { max-width: 500px; }
#stackOverflow { max-width: 208px; }

/***** Data Graphs *****/
.chart {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 15px;
    position: relative;
    .y {
        position: absolute;
        transform: rotate(-90deg);
        transform-origin: bottom left;
        bottom: 0;
        padding: 5px;
        text-align: center;
    }
    .x {
        position: absolute;
        top: 100%;
        width: 100%;
        padding: 5px;
        text-align: center;
    }
}

svg {
    position: absolute;
    transform: rotateX(180deg);
    left: 0;
    > line {
        stroke-width: 3px;
    }
}

/***** Misc *****/
.form-group {
	margin: 0;
}
.list-group {
	margin-bottom: 0;
}
.handc {
	cursor: pointer;
	cursor: hand;
}

/* Idea taken from http://jsfiddle.net/HQS8s/ */
.stick {
    position: fixed;
    top:	80px;
    right: 	0px;
}

/* Generated by TWBSColor: http://work.smarchal.com/twbscolor/css/ */
.navbar-default {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    .navbar-brand {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHighlight;
        }
    }
    .navbar-text {
        color: $colDefault;
    }
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover,  &:focus {
                    color: $colHighlight;
                }
            }
            @if $dropDown {
                > .dropdown-menu {
                    background-color: $bgDefault;
                    > li {
                        > a {
                            color: $colDefault;
                            &:hover,  &:focus {
                                color: $colHighlight;
                                background-color: $bgHighlight;
                            }
                        }
                        > .divider {
                            background-color: $bgHighlight;
                        }
                    }
                }
            }
        }
        @if $dropDown {
            .open .dropdown-menu > .active {
                > a, > a:hover, > a:focus {
                    color: $colHighlight;
                    background-color: $bgHighlight;
                }
            }
        }
        > .active {
            > a, > a:hover, > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
        > .open {
            > a, > a:hover, > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
    }
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight;
        }
        .icon-bar {
            background-color: $colDefault;
        }
    }
    .navbar-collapse, .navbar-form {
        border-color: $colDefault;
    }
    .navbar-link {
        color: $colDefault;
        &:hover {
            color: $colHighlight;
        }
    }
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
        > li > a {
            color: $colDefault;
            &:hover, &:focus {
                color: $colHighlight;
            }
        }
        > .active {
            > a, > a:hover, > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
    }
}