@import "variables";
@import "mixins";
// ---------- Placeholders ---------- //
%shadow {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}
%content {
	margin-bottom: 10px;
    padding: 10px;
	padding-top: 0;
	background-color: white;
}
%heading {
  @include margin-all(0, -10px, 5px, -10px);
	padding: 2px;
	padding-bottom: 5px;
	color: white;
    > a {
        color: white;
	    text-decoration: none;
    }
}
