// ---------- Variables ---------- //
$bgDefault    : #8e001c;
$bgHighlight  : #424242;
$colDefault   : #ffffff;
$colHighlight : #ffffff;
$bgcolor      : #fbf7e4;
$shadow       : .0625em .3125em .625em #888;
$dropDown     : false;
// $l-grey    :	#FAFAFA; NOT USED
// $L-grey    :	#E7E8D1; NOT USED
// $Brown     :	#D3CEAA; NOT USED
