<div class="row">
    <lhs />
    <div class="col-sm-9">
        <!-- About -->
        <div class="mainContent shadow">
            <h3 class="mainHeader">About Kenneth Bigler</h3>
            <div class="row">
                <div class="col-md-6">
                    <figure class="banner">
                        <img id="main_photo" class="resp handc" ng-src="{{ imgURL }}ken.jpg" alt="This is a photo of Kenneth Bigler" onclick="window.open('https://www.linkedin.com/in/kennethbigler', '_blank');" />
                    </figure>
                </div>
                <div class="col-md-6">
                    <h2 align="center">Software Engineer at Hoverboard Technologies</h2>
                    <br />
                    <h4>
                        <b>Location:</b> Mountain View, California<br />
                        <b>Interests:</b> Computer Software<br />
                        <b>Volunteer Work:</b> Second Harvest Food Bank
                    </h4>
                </div>
            </div>
        </div><!-- /About -->
        <!-- Summary -->
        <div class="mainContent shadow">
            <h3 class="mainHeader">Summary of Skills</h3>
            <ul class="emph">
                <li>Developing useful, multi-platform software tools and creating user interfaces</li>
                <li>Gathering requirements, scheduling, prioritizing goals, documenting processes, and creating project standards</li>
                <li>Manage international team members, strong communication skills, team player, and detail-oriented</li>
                <li>Designing, building, and overseeing production of large and small Internet and Intranet sites</li>
            </ul>
            <h4><b>Programming:</b> AngularJS, ASP.NET MVC with EF, C#, C++, C, Java, Android, SQL, HTML5, CSS3, JavaScript</h4>
            <h4><b>Misc. Web:</b> Joomla, WordPress, Adobe CS (Dreamweaver, Photoshop, Illustrator, Fireworks, InDesign), ServiceNow</h4>
        </div><!-- /Summary -->
        <!-- Education -->
        <div class="mainContent shadow">
            <h3 class="mainHeader">Education</h3>
            <h4><b>Santa Clara University,</b> Santa Clara, CA</h4>
            <ul class="emph">
                <li>Master of Science in Computer Engineering, Emphasis in Software Engineering, December&nbsp;2016</li>
                <li>Bachelor of Science in Computer Science and Engineering, Mathematics Minor, June&nbsp;2015</li>
                <li>Dean’s List, September&nbsp;2012 – Present</li>
                <li>GPA:&nbsp;3.7</li>
            </ul>
            <h4><b>Stanford University,</b> Stanford, CA</h4>
            <ul class="emph">
                <li>High School Summer College, June-Aug.&nbsp;2010</li>
                <li>GPA:&nbsp;3.8</li>
            </ul>
        </div><!-- /Education -->
    </div>
</div>