<div class="row">
    <lhs />
    <div class="col-sm-9">
        <!-- Education -->
        
        <div class="mainContent shadow">
            <h3 class="mainHeader">GPA: 3.7</h3>
            <!--svg line chart-->
            <div class="chart" style="width: {{ grades.width }}px; height: {{ grades.height }}px;">
                <div class="y hidden-xs" style="width: {{ grades.height }}px;">{{ grades.yAxis }}</div>
                <div class="x">{{ grades.xAxis }}</div>
                <svg style="width: {{ grades.width }}px; height: {{ grades.height }}px;">
                    <line ng-xa="0"
                          ng-ya="{{ grades.avg / grades.max * grades.height }}"
                          ng-xb="{{ grades.width }}"
                          ng-yb="{{ grades.avg / grades.max * grades.height }}"
                          style="stroke: #424242">
                    </line>
                    <line ng-repeat="line in grades.data track by $index"
                          ng-xa="{{ $index / grades.data.length * grades.width }}"
                          ng-ya="{{ grades.data[$index - 1].gpa / grades.max * grades.height }}"
                          ng-xb="{{ ($index + 1) / grades.data.length * grades.width }}"
                          ng-yb="{{ line.gpa / grades.max * grades.height }}"
                          style="stroke: #8E001C">
                    </line>
                    <g id="avgSpeedLabel">
                        <rect x="0" ng-y="{{ (grades.avg / grades.max * grades.height) + 3 }}" ng-width="{{ 0.1 * grades.width }}" height="12" fill="White"/>
                        <text class="svgText" x="0" ng-y="{{ -(grades.avg / grades.max * grades.height) - 4 }}" transform="scale(1,-1)">
                            {{ grades.avg + 2 | number:1 }}
                        </text>
                    </g>
                </svg>
            </div>
        </div>
        <div class="mainContent shadow">
            <h3 class="mainHeader">Master of Science in Computer Engineering<br />
                Emphasis in Software Engineering</h3>
            <h2>Graduation: December&nbsp;2016<br />GPA: 3.7</h2>
            <div class="row">
                <div class="col-sm-6">
                    <h2>Year 2</h2>
                    <h4><i>Fall Quarter (2015)</i></h4>
                    <ul>
                        <li>Truth, Deduction &amp; Computation</li>
                    </ul>
                    <h4><i>Winter Quarter (2016)</i></h4>
                    <ul>
                        <li>Formal Methods in Software Engineering</li>
                        <li>Internet of Things</li>
                        <li>User Experience Research</li>
                    </ul>
                    <h4><i>Spring Quarter (2016)</i></h4>
                    <ul>
                        <li>Computer Forensics</li>
                        <li>Computer Forensics Lab</li>
                        <li>Wireless &amp; Mobile Networks</li>
                    </ul>
                    <h4><i>Fall Quarter (2016)</i></h4>
                    <ul>
                        <li>Distributed Systems</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h2>Year 1 (Senior Year)</h2>
                    <h4><i>Fall Quarter (2014)</i></h4>
                    <ul>
                        <li>Web Search &amp; Info Retrieval</li>
                        <li>Software Ethics</li>
                    </ul>
                    <h4><i>Winter Quarter (2015)</i></h4>
                    <ul>
                        <li>Software Development Process Management</li>
                        <li>Object Oriented Analysis and Design Programming</li>
                        <li>Software Quality Assurance and Testing</li>
                    </ul>
                    <h4><i>Spring Quarter (2015)</i></h4>
                    <ul>
                        <li>Software Architecture</li>
                        <li>Web Programming II</li>
                    </ul>
                </div>
            </div>
        </div><!-- /Education -->
        <!-- Education -->
        <div class="mainContent shadow">
            <h3 class="mainHeader">Bachelor of Science in Computer Science &amp; Engineering<br />
                Mathematics Minor</h3>
            <h2>Graduation: June&nbsp;2015<br />GPA: 3.7</h2>
            <div class="row">
                <!-- Year -->
                <div class="col-sm-6">
                    <h2>Senior Year</h2>
                    <h4><i>Fall Quarter (2014)</i></h4>
                    <ul>
                        <li>Web Search &amp; Info Retrieval</li>
                        <li>Software Ethics</li>
                        <li>Software Engineering</li>
                        <li>Theology of Marriage</li>
                        <li>Design Project I</li>
                        <li>Applied Engineering Communications I</li>
                    </ul>
                    <h4><i>Winter Quarter (2015)</i></h4>
                    <ul>
                        <li>Software Development Process Management</li>
                        <li>Object Oriented Analysis and Design Programming</li>
                        <li>Software Quality Assurance and Testing</li>
                        <li>Formal Language Theory and Compiler Construction</li>
                        <li>Design Project II</li>
                        <li>Applied Engineering Communications II</li>
                    </ul>
                    <h4><i>Spring Quarter (2015)</i></h4>
                    <ul>
                        <li>Software Architecture</li>
                        <li>Web Programming II</li>
                        <li>Computer Architecture</li>
                        <li>Design Project III</li>
                        <li>Applied Engineering Communications III</li>
                    </ul>
                </div><!-- /Year -->
                <!-- Year -->
                <div class="col-sm-6">
                    <h2>Junior Year</h2>
                    <h4><i>Fall Quarter (2013)</i></h4>
                    <ul>
                        <li>Web Programming I</li>
                        <li>Operating Systems</li>
                        <li>Advanced Linear Algebra</li>
                        <li>Religion in America</li>
                    </ul>
                    <h4><i>Winter Quarter (2014)</i></h4>
                    <ul>
                        <li>Mobile Application Development (Android)</li>
                        <li>Computer Networks</li>
                        <li>Prin Des &amp; Impl Prog Lang</li>
                        <li>Human Services</li>
                    </ul>
                    <h4><i>Spring Quarter (2014)</i></h4>
                    <ul>
                        <li>Intro: 3D Animation &amp; Modeling</li>
                        <li>Theory of Algorithms</li>
                        <li>Digital Integrated Circuit Design</li>
                        <li>Combinatorics</li>
                    </ul>
                </div>
            </div>
            <hr />
            <div class="row">
                <!-- Year -->
                <div class="col-sm-6">
                    <h2>Sophomore Year</h2>
                    <h4><i>Fall Quarter (2012)</i></h4>
                    <ul>
                        <li>Introduction to Logic Design</li>
                        <li>Physics for Scientists and Engineers III</li>
                        <li>Ways of Understanding Religion</li>
                        <li>Global Music/Cultural Politics (Cultures and Ideas I)</li>
                    </ul>
                    <h4><i>Winter Quarter (2013)</i></h4>
                    <ul>
                        <li>Form Specification &amp; Advanced Data Structures</li>
                        <li>Linear Algebra</li>
                        <li>Pop Music, Race, &amp; American Culture</li>
                        <li>Global Music/Cultural Politics (Cultures and Ideas II)</li>
                    </ul>
                    <h4><i>Spring Quarter (2013)</i></h4>
                    <ul>
                        <li>Intro to Embedded Systems</li>
                        <li>Electric Circuits I</li>
                        <li>Ethics in Technology</li>
                        <li>Intro to Comparative Politics</li>
                    </ul>
                </div><!-- /Year -->
                <!-- Year -->
                <div class="col-sm-6">
                    <h2>Freshman Year</h2>
                    <h4><i>Fall Quarter (2011)</i></h4>
                    <ul>
                        <li>Introduction to Programming</li>
                        <li>Intro to Engineering</li>
                        <li>Calculus &amp; Analytic Geometry IV</li>
                        <li>General Chemistry I</li>
                        <li>Cosmology &amp; Controversy (Critical Thinking &amp; Writing I)</li>
                    </ul>
                    <h4><i>Winter Quarter (2012)</i></h4>
                    <ul>
                        <li>Advanced Programming</li>
                        <li>Differential Equations</li>
                        <li>Physics for Scientists and Engineers I</li>
                        <li>Cosmology &amp; Controversy (Critical Thinking &amp; Writing II)</li>
                    </ul>
                    <h4><i>Spring Quarter (2012)</i></h4>
                    <ul>
                        <li>Abstract Data Types &amp; Data Structures</li>
                        <li>Discrete Mathematics</li>
                        <li>Probability &amp; Statistics</li>
                        <li>Physics for Scientists and Engineers II</li>
                    </ul>
                </div><!-- /Year -->
            </div>
        </div><!-- /Education -->
    </div>
</div>