<lhs />
<div class="col-md-10 col-sm-9">
    <!-- Recent -->
    <div class="mainContent shadow">
        <h3 class="mainHeader">Recent Projects</h3>
        <div class="row">
            <div class="col-sm-6">
                <figure>
                    <img class="site shadow resp handc project" ng-src="{{ imgURL }}casino.png" alt="casino photo" onclick="window.open('http://kennethbigler.github.io/casino/', '_blank');" />
                    <figcaption>Advancing work on Angular and creating casino games</figcaption>
                </figure>
            </div>
            <div class="col-sm-6">
                <figure>
                    <img class="site shadow resp handc project" ng-src="{{ imgURL }}timecard.png" alt="timecard photo" onclick="window.open('http://kennethbigler.github.io/timecard/', '_blank');" />
                    <figcaption>This is a project I did to learn AngularJS, much of which influenced my resume site</figcaption>
                </figure>
            </div>
            <div class="col-sm-6">
                <figure>
                    <img class="site shadow resp handc project" ng-src="{{ imgURL }}clickgame.png" alt="click game photo" onclick="window.open('http://kennethbigler.github.io/clickgame/', '_blank');" />
                    <figcaption>This is a project I did to learn AngularJS, much of which influenced my resume site</figcaption>
                </figure>
            </div>
            <div class="col-sm-6">
                <figure>
                    <img class="site shadow resp handc project" ng-src="{{ imgURL }}visualization.png" alt="visualization photo" onclick="window.open('http://kennethbigler.github.io/DataProcessing/', '_blank');" />
                    <figcaption>Using AngularJS and SVG for data visualization and processing</figcaption>
                </figure>
            </div>
        </div>
    </div><!-- /Recent -->
    <!-- Senior Design -->
	<!--<div class="mainContent shadow">
    	<h3 class="mainHeader">Senior Design Project</h3>
        <figure>
            <img class="site shadow resp handc" id="groupright" ng-src="{{ imgURL }}groupright.png" alt="GroupRight photo" onclick="window.open('http://www.groupright.net/', '_blank');" />
            <figcaption>This is my Senior Year project, done with Zachery Wilson and Scott Sarsfield</figcaption>
        </figure>
    </div>--><!-- /Senior Design -->
    <!-- Early -->
    <!--<div class="mainContent shadow">
        <h3 class="mainHeader">Early Projects</h3>
        <div class="row">
            <div class="col-sm-6">
                <figure>
                    <img class="site shadow resp handc" id="scheduler" ng-src="{{ imgURL }}scheduler.png" alt="a first year scheduler for incoming freshman into Santa Clara University" onclick="window.open('http://students.engr.scu.edu/~kbigler/scheduler/', '_blank');" />
                    <figcaption>This is my final project for Software Engineering, done with Jason Dougherty, Ashley Sehatti, and Stan Whitcomb</figcaption>
                </figure>
            </div>
            <div class="col-sm-6">
                <figure>
                    <img class="site shadow resp handc" id="kidzkamp" ng-src="{{ imgURL }}kidzkamp.png" alt="Kidz Kamp Santa Clara" onclick="window.open('http://students.engr.scu.edu/~kbigler/campsite/home.php', '_blank');" />
                    <figcaption>This is my final project for Web Programming I, done with Zachery Wilson</figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <figure>
                    <img class="site shadow resp handc" id="mapquiz" ng-src="{{ imgURL }}mapquiz.png" alt="My Map Quiz Site" onclick="window.open('http://students.engr.scu.edu/~kbigler/mapquiz/', '_blank');" />
                    <figcaption>This is an early for Web Programming I, with the goal to create a Map Quiz</figcaption>
                </figure>
            </div>
            <div class="col-sm-6">
                <figure>
                    <img class="site shadow resp handc" id="michelle" ng-src="{{ imgURL }}michelle.png" alt="A website for my friend Michelle" onclick="window.open('http://students.engr.scu.edu/~kbigler/michelle/', '_blank');" />
                    <figcaption>This is a project for my friend, I wanted to play with ideas for layouts.</figcaption>
                </figure>
            </div>
        </div>
    </div>--><!-- /Early -->
</div>