<div class="row">
    <lhs />
    <div class="col-sm-9">
        <h1 align="center">Work Experience</h1>
        <hr />
        <!-- Equalia -->
        <div class="mainContent shadow">
            <h3 class="mainHeader">Hoverboard Technologies, Mountain View, CA</h3>
            <img class="corp_logo" ng-src="{{ imgURL }}hoverboard_logo.png" alt="Hoverboard Logo"/>
            <h3>Software Engineer</h3>
            <p>October 2016 – Present</p>
            <ul>
                <li>a lot</li>
            </ul>
        </div>
        <!-- Tesla -->
        <div class="mainContent shadow">
            <h3 class="mainHeader">Tesla Motors, Fremont, CA</h3>
            <img class="corp_logo" ng-src="{{ imgURL }}tesla_motors_logo.svg.png" alt="Tesla Logo"/>
            <h3>Application Developer Intern, IT Applications</h3>
            <p>June 2015 – June 2016 (1 year)</p>
            <ul>
                <li>Develop web tools using AngularJS and ASP.NET MVC with a SQL database</li>
                <li>Gather requirements, create new software tools, and improve tools already used by various departments</li>
                <li>Redesign intranet pages to improve accessibility and incorporate responsive design elements</li>
            </ul>
        </div>
        <!-- NetApp -->
        <div class="mainContent shadow">
            <h3 class="mainHeader">NetApp, Sunnyvale, CA</h3>
            <img class="corp_logo" ng-src="{{ imgURL }}netapp_logo.svg.png" alt="NetApp Logo"/>
            <h3>Web Technologist</h3>
            <p>December 2012 – June 2015 (2 years 6 months)</p>
            <ul>
                <li>Develop web-based applications to enable various processes, as well as train users</li>
                <li>Communicate status of projects with upper management and how to resolve roadblocks</li>
                <li>Support HR Intranet using WordPress; updating code, creating graphics and managing web projects</li>
                <li>Design and create new websites, migrate between CMS’s, as well as maintain and improve existing websites</li>
                <li>Create/update graphics using Adobe CS, resolve technical issues, educate department content owners on their choices</li>
            </ul>
        </div>
        <!-- Vengeful -->
        <div class="mainContent shadow">
            <h3 class="mainHeader">VengefulGames, LLC</h3>
            <img class="corp_logo" ng-src="{{ imgURL }}vengefulgames_logo.png" alt="VengefulGames Logo"/>
            <h3>Software Engineer</h3>
            <p>August 2014 – November 2015 (1 year 4 months)</p>
            <ul>
                <li>Manage team of 3 other developers and the process flow of the work</li>
                <li>Convert mock-up images into functional HTML and CSS</li>
                <li>Improve the look, feel, and overall experience of the game to make it easier to play and understand for users</li>
                <li>Brainstorm with CEO and upper-level management about the direction of the company and future product ideas</li>
            </ul>
        </div>
        <!-- Second Harvest -->
        <hr />
        <h1 align="center">Volunteer Experience</h1>
        <hr />
        <div class="mainContent shadow">
            <h3 class="mainHeader">Second Harvest Food Bank</h3>
            <img class="corp_logo" ng-src="{{ imgURL }}SHFB_logo.jpg" alt="Second Harvest Food Bank Logo"/>
            <h3>Second Harvest Food Bank Team Leader</h3>
            <p>September 2010 – Present (5 years)</p>
            <ul>
                <li>Instruct and supervise between 10 and 40 volunteers regarding food sorting, packaging and distribution</li>
                <li>Food is then distributed to smaller organizations that help the homeless and disadvantaged</li>
            </ul>
        </div>  
    </div>
</div>